---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap:
  exclude: 'yes'
---
@charset "utf-8";

/* =Colors */
$dorian: #D2B48C;
$iron: #F08080;
$cloudy: #AFEEEE;

@import
    "mixins",
    "default",
    "404"
;
