---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap:
  exclude: 'yes'
---
@charset "utf-8";

/* =Colors */
$dorian: #483D8B;
$iron: #00FFFF;
$cloudy: #9932CC;

@import
    "mixins",
    "default",
    "404"
;
