---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap:
  exclude: 'yes'
---
@charset "utf-8";

/* =Colors */
$dorian: #3d9970;
$iron: #00fa9a;
$cloudy: #3d9970;

@import
    "mixins",
    "default",
    "404"
;
